body #pipboy > div {
	position: absolute;
	top: 0;
	left: 0;
}

#pipboy > img {
	border: 0;	
}

#pipboy #terminal {
	position: relative;
	top: 200px;
    left: 32%;
	max-width: 745px;
	width: 100%;
	max-height: 420px;
	height: 100%;
	overflow: auto;
}

#pipboy #terminal, #pipboy #terminal .terminal-row #terminal-input, #cmd  {
	color: #43ce18;
	font-family: 'Inconsolata';
	font-size: 0.9em;
}

input::-webkit-input-placeholder {
    color: #859e8b;
    text-shadow: none;
    -webkit-text-fill-color: #859e8b;
}

.terminal-row, .terminal-row-result {
	display: block;
	margin-bottom: 4px;
}

#pipboy #terminal .terminal-row .dir-loc:before {
	content: "[";
}

#pipboy #terminal .terminal-row .dir-loc:after {
	content: "]";
}

#pipboy #terminal .terminal-row .dir-loc {
	color: #12cdc6;
	position: relative;
}

#pipboy #terminal .terminal-row .cursor-beg {
	color: #d73336;
}

#pipboy #terminal #terminal-results .terminal-row .cursor-beg {
	margin-right: 15px;
}

#pipboy #terminal .terminal-row #terminal-input, #cmd {
	background: transparent;
	padding: 0;
	border: 0;
	width: 80%;
}

#pipboy #terminal .terminal-row #terminal-input:focus {
	outline: 0;
}

#pipboy #terminal .terminal-row #terminal-input:hover {
	cursor: default
}

#cmd {
    padding: 5px;
    overflow: hidden;
}

#cmd span {
    padding-left: 3px;
    white-space: pre;
}

#cursor {
    font-size: 14px;
	color: #859e8b;
	margin-left: -7px;
}

input {
    width: 0;
    height: 0;
    opacity: 0;
}

@font-face {
	font-family: 'icons';
	src:url('fonts/icomoon.eot?eg8cdz');
	src:url('fonts/icomoon.eot?eg8cdz#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg?eg8cdz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

#cursor {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#cursor:before {
	content: "\e900";
}
